/robot_framework/log.html
/robot_framework/output.xml
/robot_framework/playwright-log.txt
/robot_framework/report.html
config.env
reports
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/playwright_test_email.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
.venv
.vscode
*.cpython*
resources
